header {
    height: 95vh;
    background-image: url(/assets/header-img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: -22rem;
            align-self: center;
        }
}


.genreSelection {
    background-color: rgba(241, 238, 238, 0.774);
    padding: 2rem 0 1rem;
    margin-top: -1rem;
}


.genresList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 15rem;
    align-items: flex-start;
    align-self: center;
}

.boxAndGenre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    font-size: 20px;
    /* background-color: white; */
    width: 12rem;
}

label {
    padding-left: 10px;
}